#titulo{
  text-align: center;
  font-size: x-large;
}

#buscador {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
}

#conductor {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
}
#conductor2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
}
#conductor3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}